<ul class="dropdown-menu">
  <li><%= link_to "Biguaçu-SC", '#' %></li>
  <li><%= link_to "IBG Vertical - São João Batista-SC", '#' %></li>
  <li><%= link_to "Timbó-SC", '#' %></li>
  <li><%= link_to "Pontal do Sul-PR", '#' %></li>
  <li><%= link_to "Araraquara-SP", araraquara_path %></li>
<!--
  <li><a href="http://igreja-biblica-da-graca.webnode.com/" target="_blank">
    <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
    Araraquara-SP</a></li>
-->
</ul>
