<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | Ministério da Graça no Brasil</title>
    <%= csrf_meta_tags %>
  <!-- BOOTSTRAP -->
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"> </script>
  <%= stylesheet_link_tag    'application', media: 'all',
                               'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<body>

<div class="container">
  <img class="img-responsive"
       src="https://s19.postimg.org/d2de6g34j/Faixa2.png" alt="BANNER" align="center">
</div>
<header class="navbar navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to "Notícias", '#' %></li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Ministérios <b class="caret"></b>
          </a>
          <%= render 'layouts/ministerios' %>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Canais do Youtube <b class="caret"></b>
          </a>
          <%= render 'layouts/youtubes' %>
        </li>

        <li><%= link_to "Biblioteca", '#' %></li>
        <li><%= link_to "Contatos", '#' %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Login", '#' %></li>
      </ul>
    </nav>
  </div>
</header>
<div class="container">
  <%= yield %>
</div>
</body>
</html>