<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | Ministério da Graça no Brasil</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                               'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
    </script>
    <![endif]-->
  </head>
<body>

<div class="container">
  <img class="img-responsive"
       src="https://s19.postimg.org/d2de6g34j/Faixa2.png" alt="BANNER" align="center">
</div>
<header class="navbar navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to "Notícias", '#' %></li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Ministérios <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "Profile", '#' %></li>
            <li><%= link_to "Settings", '#' %></li>
          </ul>
        </li>

        <li><%= link_to "Vídeos", '#' %></li>
        <li><%= link_to "Biblioteca", '#' %></li>
        <li><%= link_to "Contatos", '#' %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Login", '#' %></li>
      </ul>
    </nav>
  </div>
</header>
<div class="container">
  <%= yield %>
</div>
</body>
</html>